body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  header {
    text-align: center;
    padding: 50px;
  }
  
  section {
    padding: 20px;
  }
  
  /* Tambahkan gaya lainnya untuk kustomisasi lebih lanjut */
  /* style.css */
section {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease-in-out;
  }
  
  .show {
    opacity: 1;
    transform: translateY(0);
  }